## Table of content

{% set var = role.var | default({}) %}
{% if var %}
- [Role variables](#role-variables)
{% endif %}
{% if tag %}
- [Discovered Tags](#discovered-tags)
{% endif %}
{% if todo %}
- [Open Tasks](#open-tasks)
{% endif %}
- [Dependencies](#dependencies)
- [License](#license)
- [Author](#author)

---
