## Table of content

{% set var = role.var | default({}) %}
{% if var %}
- [Role variables](#role-variables)
{% endif %}
{% if tag %}
- [Discovered Tags](#discovered-tags)
{% endif %}
{% if todo %}
- [Open Tasks](#open-tasks)
{% endif %}
- [Example playbook - online/internet-enabled installation](#example-playbook---onlineinternet-enabled-installation)
- [Example playbook - airgapped installation](#example-playbook---airgapped-installation)
- [Dependencies](#dependencies)
- [License](#license)
- [Author](#author)

---
