{% set var = role.var | default({}) %}
{% if var %}

## Role variables
| Name | Default value | Description |
|:-----|:--------------|:------------|
{% for key, item in var | dictsort %}| {{ key }} | {{ item.value[key] | default('') if item.value is defined else '' }} |{{ item.description | default([]) | join('') }} |
{% endfor %}
{% endif %}
